<?xml version="1.0" encoding="UTF-8"?>
<configuration status="debug" strict="true"
               name="XMLConfigTest" packages="org.apache.logging.log4j.test">
    <filter type="ThresholdFilter" level="trace" />

    <appenders>
        <console name="STDOUT">
            <layout type="PatternLayout" pattern="%m %n" />
        </console>
        <rollingFile name="rollingFile"
                     fileName="logs/log4j2.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <patternLayout>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </patternLayout>
            <policies>
                <timeBasedTriggeringPolicy interval = "5" />
                <sizeBasedTriggeringPolicy
                        size="250 KB" />
            </policies>
        </rollingFile>
    </appenders>
    <loggers>
        <root level="INFO">
            <appenderRef ref="STDOUT" />
            <appenderRef ref="rollingFile" />
        </root>
    </loggers>
</configuration>